body {
    background-image: url('../img/imgespaco.jpg');
    

}


h1 {
    font-size: 40px;
    margin-left: 200px;
    margin-bottom: 0;
    font-size: 850%;
    margin: 0px;
    padding-top: 80px;
    text-align: center;
    padding-right: 1000px;
    color: white;
}

p {
    font-size: 25px;
    width: 700px;
    color: black;
    height: 250px;
    text-align: center;
    padding-left: 1100px;
    text-align: justify;
    color: white;
    padding-top: 300px;
    margin: 0;
}