body {
    background-color: aqua;
}
/* font-size */
/* line-heigt espacamento entre as linhas */

/* propriedades de cor: color a cor do elemento */

/* backgorund-color fundo do elemento */

/* background linear-grandietn */

/* background-attachment fixed */



/* EFEITOS  */

/* border-radius: arrendona os cantos da borda */

/* border: define a espessura da borda */

/* border style define o estilo da borda!!!! double, hidden, solid */

/* box-shadow aplica um efeito da sombra a um elemento */

/* border-bottom-rith-radius: 20px*/

/* box-sizing: border=-box */

/* boz-sizing: content-box */
/* 
menu: hover {
    background-color: green
} */


