
    
@media (max-width:767px) {
    .grid-container {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 10px;
        background-color: purple;
        padding: 10px;
    }


.grid-container > div {
    background-color: red;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;

    }
}